AppraisalSystem.Web/Service References/EvaluationTemplateService/EvaluationTemplateService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51360/EvaluationTemplateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB" />
  <xs:import schemaLocation="http://localhost:51360/EvaluationTemplateService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllTemplates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="GetAllTemplatesResult" nillable="true" type="q1:ArrayOfEvaluationTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEvaluationTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="positionId" type="xs:int" />
        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="questionsId" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEvaluationTemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvaluationTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvaluationTemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvaluationTemplateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evaluationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvaluationTemplateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="GetEvaluationTemplateByIdResult" nillable="true" type="q3:EvaluationTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>