AppraisalSystem.Web/Service References/EvaluationService/EvaluationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51360/EvaluationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB" />
  <xs:element name="CreateEvaluation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="evaluationTemplateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEvaluationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvaluatorToEvaluation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evaluationId" type="xs:int" />
        <xs:element minOccurs="0" name="evaluatorUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvaluatorToEvaluationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvaluatorsForEvaluation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evaluationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvaluatorsForEvaluationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="GetAllEvaluatorsForEvaluationResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvaluationsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvaluationsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="GetAllEvaluationsForUserResult" nillable="true" type="q2:ArrayOfEvaluation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvaluationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evaluationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvaluationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="GetEvaluationByIdResult" nillable="true" type="q3:Evaluation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>