AppraisalSystem.Web/Service References/EvaluationService/EvaluationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EvaluationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51360/EvaluationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51360/EvaluationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51360/EvaluationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvaluationWcfService_CreateEvaluation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEvaluation" />
  </wsdl:message>
  <wsdl:message name="IEvaluationWcfService_CreateEvaluation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEvaluationResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluationWcfService_AddEvaluatorToEvaluation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvaluatorToEvaluation" />
  </wsdl:message>
  <wsdl:message name="IEvaluationWcfService_AddEvaluatorToEvaluation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEvaluatorToEvaluationResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluationWcfService_GetAllEvaluatorsForEvaluation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvaluatorsForEvaluation" />
  </wsdl:message>
  <wsdl:message name="IEvaluationWcfService_GetAllEvaluatorsForEvaluation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvaluatorsForEvaluationResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluationWcfService_GetAllEvaluationsForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvaluationsForUser" />
  </wsdl:message>
  <wsdl:message name="IEvaluationWcfService_GetAllEvaluationsForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvaluationsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluationWcfService_GetEvaluationById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvaluationById" />
  </wsdl:message>
  <wsdl:message name="IEvaluationWcfService_GetEvaluationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvaluationByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvaluationWcfService">
    <wsdl:operation name="CreateEvaluation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluationWcfService/CreateEvaluation" message="tns:IEvaluationWcfService_CreateEvaluation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluationWcfService/CreateEvaluationResponse" message="tns:IEvaluationWcfService_CreateEvaluation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvaluatorToEvaluation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluationWcfService/AddEvaluatorToEvaluation" message="tns:IEvaluationWcfService_AddEvaluatorToEvaluation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluationWcfService/AddEvaluatorToEvaluationResponse" message="tns:IEvaluationWcfService_AddEvaluatorToEvaluation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvaluatorsForEvaluation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluationWcfService/GetAllEvaluatorsForEvaluation" message="tns:IEvaluationWcfService_GetAllEvaluatorsForEvaluation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluationWcfService/GetAllEvaluatorsForEvaluationResponse" message="tns:IEvaluationWcfService_GetAllEvaluatorsForEvaluation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvaluationsForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluationWcfService/GetAllEvaluationsForUser" message="tns:IEvaluationWcfService_GetAllEvaluationsForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluationWcfService/GetAllEvaluationsForUserResponse" message="tns:IEvaluationWcfService_GetAllEvaluationsForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvaluationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluationWcfService/GetEvaluationById" message="tns:IEvaluationWcfService_GetEvaluationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluationWcfService/GetEvaluationByIdResponse" message="tns:IEvaluationWcfService_GetEvaluationById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvaluationWcfService" type="tns:IEvaluationWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEvaluation">
      <soap:operation soapAction="http://tempuri.org/IEvaluationWcfService/CreateEvaluation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvaluatorToEvaluation">
      <soap:operation soapAction="http://tempuri.org/IEvaluationWcfService/AddEvaluatorToEvaluation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvaluatorsForEvaluation">
      <soap:operation soapAction="http://tempuri.org/IEvaluationWcfService/GetAllEvaluatorsForEvaluation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvaluationsForUser">
      <soap:operation soapAction="http://tempuri.org/IEvaluationWcfService/GetAllEvaluationsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvaluationById">
      <soap:operation soapAction="http://tempuri.org/IEvaluationWcfService/GetEvaluationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvaluationService">
    <wsdl:port name="BasicHttpBinding_IEvaluationWcfService" binding="tns:BasicHttpBinding_IEvaluationWcfService">
      <soap:address location="http://localhost:51360/EvaluationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>