AppraisalSystem.Web/Service References/QuestionService/QuestionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuestionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51360/QuestionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51360/QuestionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51360/QuestionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuestionWcfService_GetQuestionsByCompetence_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsByCompetence" />
  </wsdl:message>
  <wsdl:message name="IQuestionWcfService_GetQuestionsByCompetence_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsByCompetenceResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionWcfService_UpdateQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionWcfService_UpdateQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionWcfService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IQuestionWcfService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionWcfService_AddQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestion" />
  </wsdl:message>
  <wsdl:message name="IQuestionWcfService_AddQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuestionWcfService">
    <wsdl:operation name="GetQuestionsByCompetence">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionWcfService/GetQuestionsByCompetence" message="tns:IQuestionWcfService_GetQuestionsByCompetence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionWcfService/GetQuestionsByCompetenceResponse" message="tns:IQuestionWcfService_GetQuestionsByCompetence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionWcfService/UpdateQuestion" message="tns:IQuestionWcfService_UpdateQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionWcfService/UpdateQuestionResponse" message="tns:IQuestionWcfService_UpdateQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionWcfService/GetAll" message="tns:IQuestionWcfService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionWcfService/GetAllResponse" message="tns:IQuestionWcfService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionWcfService/AddQuestion" message="tns:IQuestionWcfService_AddQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionWcfService/AddQuestionResponse" message="tns:IQuestionWcfService_AddQuestion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuestionWcfService" type="tns:IQuestionWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuestionsByCompetence">
      <soap:operation soapAction="http://tempuri.org/IQuestionWcfService/GetQuestionsByCompetence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <soap:operation soapAction="http://tempuri.org/IQuestionWcfService/UpdateQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IQuestionWcfService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQuestion">
      <soap:operation soapAction="http://tempuri.org/IQuestionWcfService/AddQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuestionService">
    <wsdl:port name="BasicHttpBinding_IQuestionWcfService" binding="tns:BasicHttpBinding_IQuestionWcfService">
      <soap:address location="http://localhost:51360/QuestionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>