AppraisalSystem.Web/Service References/QuestionService/QuestionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51360/QuestionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB" />
  <xs:element name="GetQuestionsByCompetence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competence" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsByCompetenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="GetQuestionsByCompetenceResult" nillable="true" type="q1:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionId" type="xs:int" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionContent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="competence" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>