AppraisalSystem.Web/Service References/PositionService/PositionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51360/PositionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB" />
  <xs:element name="GetAllPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="GetAllPositionsResult" nillable="true" type="q1:ArrayOfPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="positionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="GetPositionByNameResult" nillable="true" type="q2:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="positionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="positionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>