AppraisalSystem.Web/Service References/CompetenceService/CompetenceService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Interfaces.DTO.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Interfaces.DTO.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51360/CompetenceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DB" />
  <xs:complexType name="ArrayOfCompetenceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompetenceDto" nillable="true" type="tns:CompetenceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompetenceDto" nillable="true" type="tns:ArrayOfCompetenceDto" />
  <xs:complexType name="CompetenceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DB" minOccurs="0" name="Questions" nillable="true" type="q1:ArrayOfQuestion" />
      <xs:element minOccurs="0" name="QuestionsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompetenceDto" nillable="true" type="tns:CompetenceDto" />
</xs:schema>