AppraisalSystem.Web/Service References/CompetenceService/CompetenceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompetenceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51360/CompetenceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51360/CompetenceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51360/CompetenceService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51360/CompetenceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DB" />
      <xsd:import schemaLocation="http://localhost:51360/CompetenceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Interfaces.DTO.Response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompetenceWcfService_GetAllCompetencesByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetencesByName" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_GetAllCompetencesByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetencesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_GetAllCompetences_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetences" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_GetAllCompetences_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetencesResponse" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_GetAllCompetenceByPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetenceByPosition" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_GetAllCompetenceByPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetenceByPositionResponse" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_AddCompetence_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCompetence" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_AddCompetence_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCompetenceResponse" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_UpdateCompetence_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompetence" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_UpdateCompetence_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompetenceResponse" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_GetAllCompetencesNameByPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetencesNameByPosition" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_GetAllCompetencesNameByPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetencesNameByPositionResponse" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_GetAllCompetencesByPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetencesByPosition" />
  </wsdl:message>
  <wsdl:message name="ICompetenceWcfService_GetAllCompetencesByPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetencesByPositionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompetenceWcfService">
    <wsdl:operation name="GetAllCompetencesByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetenceWcfService/GetAllCompetencesByName" message="tns:ICompetenceWcfService_GetAllCompetencesByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetenceWcfService/GetAllCompetencesByNameResponse" message="tns:ICompetenceWcfService_GetAllCompetencesByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompetences">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetenceWcfService/GetAllCompetences" message="tns:ICompetenceWcfService_GetAllCompetences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetenceWcfService/GetAllCompetencesResponse" message="tns:ICompetenceWcfService_GetAllCompetences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompetenceByPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetenceWcfService/GetAllCompetenceByPosition" message="tns:ICompetenceWcfService_GetAllCompetenceByPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetenceWcfService/GetAllCompetenceByPositionResponse" message="tns:ICompetenceWcfService_GetAllCompetenceByPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCompetence">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetenceWcfService/AddCompetence" message="tns:ICompetenceWcfService_AddCompetence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetenceWcfService/AddCompetenceResponse" message="tns:ICompetenceWcfService_AddCompetence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompetence">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetenceWcfService/UpdateCompetence" message="tns:ICompetenceWcfService_UpdateCompetence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetenceWcfService/UpdateCompetenceResponse" message="tns:ICompetenceWcfService_UpdateCompetence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompetencesNameByPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetenceWcfService/GetAllCompetencesNameByPosition" message="tns:ICompetenceWcfService_GetAllCompetencesNameByPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetenceWcfService/GetAllCompetencesNameByPositionResponse" message="tns:ICompetenceWcfService_GetAllCompetencesNameByPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompetencesByPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetenceWcfService/GetAllCompetencesByPosition" message="tns:ICompetenceWcfService_GetAllCompetencesByPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetenceWcfService/GetAllCompetencesByPositionResponse" message="tns:ICompetenceWcfService_GetAllCompetencesByPosition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompetenceWcfService" type="tns:ICompetenceWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCompetencesByName">
      <soap:operation soapAction="http://tempuri.org/ICompetenceWcfService/GetAllCompetencesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompetences">
      <soap:operation soapAction="http://tempuri.org/ICompetenceWcfService/GetAllCompetences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompetenceByPosition">
      <soap:operation soapAction="http://tempuri.org/ICompetenceWcfService/GetAllCompetenceByPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompetence">
      <soap:operation soapAction="http://tempuri.org/ICompetenceWcfService/AddCompetence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompetence">
      <soap:operation soapAction="http://tempuri.org/ICompetenceWcfService/UpdateCompetence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompetencesNameByPosition">
      <soap:operation soapAction="http://tempuri.org/ICompetenceWcfService/GetAllCompetencesNameByPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompetencesByPosition">
      <soap:operation soapAction="http://tempuri.org/ICompetenceWcfService/GetAllCompetencesByPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompetenceService">
    <wsdl:port name="BasicHttpBinding_ICompetenceWcfService" binding="tns:BasicHttpBinding_ICompetenceWcfService">
      <soap:address location="http://localhost:51360/CompetenceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>