AppraisalSystem.Web/Service References/CompetenceService/CompetenceService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompetence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Competence" nillable="true" type="tns:Competence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompetence" nillable="true" type="tns:ArrayOfCompetence" />
  <xs:complexType name="Competence">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Competence" nillable="true" type="tns:Competence" />
</xs:schema>